@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Ubuntu:wght@700&display=swap');

/*for BoxRatingProgress*/
.box__rating__store
{
    width: 900px;
    /*text-align: left;*/
}
.rating_progress
{
    margin-top: 5px !important;
    display: block;
    margin: auto;
    width: 738px;
    /*margin: 30px;*/
}

.rating__star
{
    height: 33px;
    display: flex !important;
}

.progress_of_rating
{
    display: block;
    margin: auto;

}

.box_mean_rating
{
    display: flex;
}

.meanRating_txt
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    color: #705D96;
}

.meanRating_mean
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #705D96;
    margin-left: 45px;
}

/*for OverallRating*/

button 
{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on 
{
    color: #FFC700;
}

.off 
{
    color: #ccc;
}
  
textarea {
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

.button_send
{
    width: 140px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;

}

.btn__submit
{
    width: 140px;
    height: 35px;
    background-color: #9A82CA;
    border-radius: 30px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.btn__submit:hover
{
    background-color: #b7a6d9;
}
.btn__submit:active
{
    background-color: #9A82CA;
    transform: translateY(0.5px);
}

.Rating_title
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    
}

.rating_txt
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.button_star
{
    width: 130px;
    /*margin-left: 170px;*/
    margin-left: auto;
    margin-right: auto;
}

.Rating_comment
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

label
{
    padding-bottom: 5px;
}


/*Then for BoxCommentRating*/

.comment_rating
{
    display: block;
}

.box_AllComment
{
    width: 863px;
    margin-left: auto;
    margin-right: auto;
}

.box_comment
{
    display: flex !important;
}

.circle_comment
{
    background-color: grey;
    background-image: url("../pics/imgtest.jpg");
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 75px;
}

.text_comment
{
    width: 632px;
    display: block;
    padding-left: 60px;
    padding-top: 10px;
}

.User_comment
{
    font-size: 18px;
    font-family: 'Noto Sans Thai', sans-serif;
    color: #705D96;
}

.Star_comment
{
    margin-top: 5px;
}
.Write_comment
{
    font-size: 18px;
    font-family: 'Noto Sans Thai', sans-serif;
    color: #705D96;
    margin-top: 5px;
}

.Date_comment
{
    text-align: left;
    padding-top: 80px;
}

.dd_mm_yyyy
{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 14px;
    color: #8B8B8B;
}