@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Ubuntu&display=swap');

.grid {
    display: grid;
    grid-template-columns: 615px auto;
    grid-template-rows: minmax(160px, 530px) auto;
    grid-template-areas: 
      /*'header header'*/
      'main rightbar'
      'footer footer';
    column-gap: 20px;
    row-gap: 20px;
}

body
{
    background-color: #F8F8F8 ;
}
  
.page-rightbar {
    grid-area: rightbar;
}
  
.page-main {
    grid-area: main;
}
  
.page-footer {
    grid-area: footer;
}
  
.detail_userBLOCK
{
    width: minmax(704px, auto);
    height: 520px;
    background-color: #FFFFFF !important;
    border: 1px solid transparent;
    text-align: left;
    border-radius: 2rem;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
    margin-right: 115px;
}

.img_userBLOCK
{
    width: minmax(655px, auto);
    height: 362px;
    background-color: #F6F6F6 ;
    border: 1px solid transparent;
    border-radius: 2rem;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 36px;
}

.title_content
{
    color: #9A82CA;
    line-height: 1.5;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-left: 30px;
}

.user_rqBOX
{
    height: 64px;
    width: 421px;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    color: #423F48;
    line-height: 1.5;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-align: center;
    font-size: 25px;
    margin: 25px;
    margin-left: 30px;
    padding: 10px;

}

.txt_userBLOCK
{
    font-family: 'Ubuntu', sans-serif;
}

.user_detail
{
    font-family: 'Noto Sans Thai', sans-serif;
    color: violet;
}

.content_trading {
    color: #242424;
    /*background-color: #f25fff;*/
    border: 1px solid transparent;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
}

.confirmBOX
{
    height: 105px;
    display: flex;
}

.Yes_icon
{
    background-color:transparent;
    border: transparent;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}


.No_icon
{
    margin-left: 150px;
    background-color:transparent;
    border: transparent;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.havenoRQ
{
    margin-top: 100px;
    text-align: center;
}
.sorry_icon
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.saySORRY
{
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 15px;
    color: #423F48;
}