@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.modal_trade
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.content__box__trade
{
    background-color: white ;
    width: 650px !important;
    height: 280px;
    border-radius: 36px  !important;
    border: none !important;
    box-shadow: 0px 0px 11px 10px rgba(204, 193, 234, 0.5);
}

.txt_box_trade
{
    display: block;
    margin-bottom: 30px !important;
}

.submit_txt_trade
{
    font-family: 'Noto Sans Thai', sans-serif;
    color: #3D3C40;
    letter-spacing: 0.5px;
    font-size: 30px;
    font-weight: 500;
    margin-left: 37px ;
}

.user_txt_trade
{
    font-family: 'Ubuntu', sans-serif;
    color: #9B84E8;
    letter-spacing: 0.2px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}
.button_trade
{
    display: flex ;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.btn__yes
{
    width: 154px;
    height: 45px;
    background-color: #65E87A;
    border-radius: 30px;
    border: none;
    font-family: 'Noto Sans Thai', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-top: 30px;
}
.btn__yes:hover
{
    background-color: #5ed371;
}
.btn__yes:active
{
    background-color: #5ed371;
    transform: translateY(0.5px);
}
.btn__no
{
    width: 154px;
    height: 45px;
    background-color: #F04444;
    border-radius: 30px;
    border: none;
    font-family: 'Noto Sans Thai', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-top: 30px !important;
}
.btn__no:hover
{
    background-color: #dd4040;
}
.btn__no:active
{
    background-color: #dd4040;
    transform: translateY(0.5px);
}

.txt_success
{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 27px;
    text-align: center;
    margin-top: 15px;
}

.icon_show
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-close
{
   margin-inline-start: 430px;
}